page-actions {
  
.details-menu {
  background-color: white;
}

ion-content {
  background: -webkit-linear-gradient(rgb(12, 98, 211), rgb(4, 47, 104));
}

.content {
  background-color: rgb(247, 248, 250);
  padding-top: 25px;
  height: 100%;
}

.details-content {
  background-color: rgb(247, 248, 250);
}

.item-title {
  font-size: 14pt;
  font-weight: bold;
}
}

